@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    body{
        background-color: white;
    }

}


.slick {
    .slick-track {
      display: flex;
  
      .slick-slide {
        display: flex;
        height: auto;
  
        img {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

@import './styles/styleBurguerMenu.css'

